<main>
    <owl-carousel-o #owlElement [options]="customOptions" id="owl-carousel">
        <ng-template class="owl-carousel" carouselSlide>
            <div class="slide A">
                <div id="txt" class="txt">
                    <div class="title">Online Book Store <br> Mobile App</div>
                    <div class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book.</div>
                </div>
                <div id="img1" class="img">
                    <img src="assets/images/project1/book-right-first-sec.png" alt="">
                </div>
            </div>
        </ng-template>
        <ng-template class="owl-carousel" carouselSlide>
            <div class="slide B">

                <div class="circleA"></div>
                <div class="circleB"></div>
                <div class="circleC"></div>

                <div class="img">
                    <img src="assets/images/project1/online-book-second-first-img.png" alt="">
                    <img src="assets/images/project1/online-book-second-secnd-img.png" alt="">
                    <img src="assets/images/project1/online-book-second-third-img.png" alt="">

                </div>
            </div>
        </ng-template>
        <ng-template class="owl-carousel" carouselSlide>
            <div class="slide C">
                <div class="img">
                    <img src="assets/images/project1/online-book-third-sec-img.png" alt="">
                </div>
            </div>
        </ng-template>
        <ng-template class="owl-carousel" carouselSlide>
            <div class="slide D">
                <div class="img">
                    <img src="assets/images/project1/book-last-sec-img.png" alt="">
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>
</main>
<div class="container">
    <div class="first">
        <img src="assets/images/project1/book-right-first-sec.png" alt="">
        <div class="title">Online Book Store Mobile App</div>
        <div class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.</div>
    </div>
    <div class="second">
        <div class="circleA"></div>
        <div class="circleB"></div>
        <div class="circleC"></div>
        <div class="img">
            <img src="assets/images/project1/online-book-second-first-img.png" alt="">
            <img src="assets/images/project1/online-book-second-secnd-img.png" alt="">
            <img src="assets/images/project1/online-book-second-third-img.png" alt="">
        </div>
    </div>
    <div class="third">
        <img src="assets/images/project1/online-book-third-sec-img.png" alt="">
    </div>
    <div class="fourth">
        <img src="assets/images/project1/book-last-sec-img.png" alt="">
    </div>
</div>